{% extends "base.html" %}
{% load static %}

{% block title %} {{ product.name }} {% endblock %}

{% block header %}

<header class="navbar-light header-sticky">
    <div class="header-top container">
      <span style="color: #262a31;">
        <a style="color: black;" href="mailto:info@c-sp.kz">
          <i class="fa-solid fa-envelope me-2"></i> info@c-sp.kz
        </a>
      </span>
      <span>
          <a style="color: #262a31;" type='tel' href="tel: +7 (708) 800 81 88">
            <i class="fa-solid fa-phone me-2"></i> +7 (708) 800 81 88
          </a>
      </span>
    </div>
    <style>
      .header-top {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1200px; /* Или другой размер в зависимости от дизайна */
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;
        color: #666;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #e2e6ed;
        z-index: 1050;
      }


    </style>
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
      <div class="container" style="margin-top: 30px;">
        <!-- Logo START -->
        <a class="navbar-brand" href="/">
            <img class="light-mode-item navbar-brand-item" style="height: 45px; width: 150px;" src="{% static 'images/logo.png' %}" alt="logo">
        </a>
        <!-- Logo END -->
  
        <!-- Responsive navbar toggler -->
        <button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-magnifying-glass"></i>

          <span class="d-none d-sm-inline-block small"></span>
        </button>
  
        <!-- Responsive category toggler -->
        <button class="navbar-toggler ms-sm-auto mx-3 me-md-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategoryCollapse" aria-controls="navbarCategoryCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-grid-3x3-gap-fill fa-fw"></i><span class="d-none d-sm-inline-block small"></span>
        </button>
  
        <!-- Main navbar START -->
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <div class="search-bar" style="position: relative; width: 100%;">
            <input type="text" id="search-input" style="border-radius: 7px; border: 1px solid #e2e6ed; color: #262a31; padding: 8px 40px 8px 8px; width: 440px;" placeholder="Поиск в каталоге...">
            <ul id="search-results" style="position: absolute; width: 100%; max-height: 200px; overflow-y: auto; z-index: 10; display: none; list-style: none; padding: 0; margin: 0;  background-color: white;"></ul>
        </div>

        <script>
          document.getElementById('search-input').addEventListener('input', function() {
              const query = this.value.trim();
              const resultsContainer = document.getElementById('search-results');

              if (query.length > 0) {  // Начинать поиск, если введено более 1 символа
                  fetch(`/search/?query=${encodeURIComponent(query)}`)
                      .then(response => response.json())
                      .then(data => {
                          resultsContainer.innerHTML = '';  // Очистить текущие результаты
                          if (data.results.length > 0) {
                              resultsContainer.style.display = 'block';  // Показать результаты
                              data.results.forEach(result => {
                                  const li = document.createElement('li');
                                  li.style.padding = '8px';
                                  li.style.borderBottom = '1px solid #e2e6ed';
                                  if (result.type === 'product') {
                                      // Если это продукт
                                      li.innerHTML = `
                                          <a href="/product/${result.slug}" style="color: #262a31; text-decoration: none;">
                                               ${result.name}
                                          </a>`;
                                  } else if (result.type === 'category') {
                                      // Если это категория
                                      li.innerHTML = `
                                          <a href="/category/${result.slug}" style="color: #262a31; text-decoration: none;">
                                               ${result.name}
                                          </a>`;
                                  } else if (result.type === 'none') {
                                      // Если ничего не найдено
                                      li.innerHTML = `
                                          <span style="color: #262a31;">${result.name}</span>`;
                                  }
                                  resultsContainer.appendChild(li);
                              });
                          } else {
                              resultsContainer.style.display = 'none';  // Скрыть, если нет результатов
                          }
                      })
                      .catch(error => {
                          console.error('Ошибка загрузки данных:', error);
                          resultsContainer.style.display = 'none';  // Скрыть, если произошла ошибка
                      });
              } else {
                  resultsContainer.style.display = 'none';  // Скрыть результаты, если менее 2 символов
              }
          });
      </script>
        
        </div>
        <!-- Main navbar END -->
  
        <!-- Nav category menu START -->
        <div class="navbar-collapse collapse" id="navbarCategoryCollapse">
          <ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center ms-auto p-2 p-xl-0">

            <li class="nav-item d-lg-none"> 
              <a class="nav-link active" href="{% url 'main:category' %}">
                  <i class="fa-solid fa-store me-2"></i>Каталог
              </a>
            </li>
          
          

            <hr style="margin: 5px;">

            <!-- Nav item Hotel -->
            <li class="nav-item"> 
              <a class="nav-link " href="/">
                <i class="fa-solid fa-house me-2"></i>Главная
              </a>
            </li>
            
            <!-- Nav item Services -->
            <li class="nav-item"> 
              <a class="nav-link" href="{% url 'main:services' %}">
                <i class="fa-solid fa-gavel me-2"></i>Услуги
              </a>
            </li>
            
            <!-- Nav item Contacts -->
            <li class="nav-item"> 
              <a class="nav-link" href="{% url 'main:contacts' %}">
                <i class="fa-solid fa-phone me-2"></i>Контакты
              </a>
            </li>
            
            <!-- Nav item About -->
            <li class="nav-item"> 
              <a class="nav-link" href="{% url 'main:about' %}">
                <i class="fa-solid fa-info-circle me-2"></i>О компании
              </a>
            </li>

            
            
          </ul>
        </div>
        <!-- Nav category menu END -->
  
      </div>
    </nav>
    <!-- Logo Nav END -->
  </header>

{% endblock %}

{% block content %}
<main>
        
    <!-- =======================
    Main Title START -->
    <section class="py-0 pt-sm-5">
        <div class="container position-relative">
            <!-- Title and button START -->
            <div class="row mb-3">
                <div class="col-12">
                    <!-- Meta -->
                    <div class="d-lg-flex justify-content-lg-between mb-1">
                        <!-- Title -->
                        <div class="mb-2 mb-lg-0">
                            <h1 class="fs-2">{{ product.name.upper }} </h1>
                            <!-- Location -->
                            <p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>Казахстан, г.Алматы
                                
                            </p>
                        </div>
    
                        <!-- Buttons -->
                        <ul class="list-inline text-end">
                            <!-- Share icon -->
                            <li class="list-inline-item dropdown">
                                <!-- Share button -->
                                <a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-fw fa-share-alt"></i>
                                </a>
                                <!-- Dropdown button -->
                                <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
                                    <li><a class="dropdown-item" href="#" id="share-facebook"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
                                    <li><a class="dropdown-item" href="#" id="share-whatsapp"><i class="fab fa-whatsapp me-2"></i>WhatsApp</a></li>
                                    <li><a class="dropdown-item" href="#" id="share-telegram"><i class="fab fa-telegram me-2"></i>Telegram</a></li>
                                    <li><a class="dropdown-item" href="#" id="copy-link"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
                                </ul>
                            </li>
                            
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    const pageUrl = encodeURIComponent(window.location.href);
                                    const pageTitle = encodeURIComponent(document.title);
                            
                                    document.getElementById("share-facebook").setAttribute("href", `https://www.facebook.com/sharer/sharer.php?u=${pageUrl}`);
                                    document.getElementById("share-whatsapp").setAttribute("href", `https://wa.me/?text=${pageTitle}%20${pageUrl}`);
                                    document.getElementById("share-telegram").setAttribute("href", `https://t.me/share/url?url=${pageUrl}&text=${pageTitle}`);
                            
                                    document.getElementById("copy-link").addEventListener("click", function (e) {
                                        e.preventDefault();
                                        navigator.clipboard.writeText(window.location.href).then(() => {
                                            alert("Ссылка скопирована!");
                                        }).catch(err => {
                                            console.error("Ошибка копирования: ", err);
                                        });
                                    });
                                });
                            </script>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Title and button END -->
    
            <!-- Alert box START -->
            
            <!-- Alert box END -->
        </div>
    </section>
    <!-- =======================
    Main Title END -->
    
    <!-- =======================
    Image gallery START -->
    <section class="card-grid pt-0">
        <div class="container">
            <div class="row g-2">
                <!-- Image -->
                <div class="w-100">
                    <a data-glightbox="" data-gallery="gallery" href="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/tech/cartinka.jpg' %}{% endif %}">
                        <div class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden" 
                             style="height: 200px; background-image:url('{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/tech/cartinka.jpg' %}{% endif %}'); 
                             background-position: center left; background-size: cover;">
                            <!-- Card hover element -->
                            <div class="hover-element position-absolute w-100 h-100">
                                <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Image gallery END -->
    
    <!-- =======================
    About hotel START -->
    <section class="pt-0">
        <div class="container" data-sticky-container="">
    
            <div class="row g-4 g-xl-5">
                <!-- Content START -->
                <div class="col-xl-7 order-1">
                    <div class="vstack gap-5">
    
                        <!-- About hotel START -->
                        <div class="card bg-transparent">
                            <!-- Card header -->
                            <div class="card-header border-bottom bg-transparent px-0 pt-0">
                                <h3 class="mb-0">О продукте</h3>
                            </div>
    
                            <!-- Card body START -->
                            <div class="card-body pt-4 p-0">
                                <h5 class="fw-light mb-4">{{ product.name }}</h5>
    
    
                                <p class="mb-3"> {{ product.name }} поставляется со складов по всему Казахстану.
                                    <br><br>Позвоните нам по телефону <a type='tel' href=''><b style="color: #032655;">+7 (747) 562 05 16 </b></a>, напишите нам на почту zakaz@steelfed.kz или оставьте заявку на сайте.
                                </p>

                                <p class="mb-0">«Стальная Федерация»– ваш надежный поставщик металла.</p>
                                
                                <div class="collapse" id="collapseContent">
                                    <p class="my-3">Мы обеспечиваем предприятия Казахстана металлопрокатом для строительства и производства. Работаем с проверенными поставщиками, гарантируя качество и оперативность.</p>
                                    <p class="mb-0"></p>
                                </div>
                                <a style="color: #032655;" class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
                                    Смотреть <span class="see-more ms-1">больше</span><span class="see-less ms-1">меньше</span><i class="fa-solid fa-angle-down ms-2"></i>
                                </a>
    
                            </div>
                            <!-- Card body END -->
                        </div>
                        <!-- About hotel START -->

                    </div>	
                </div>
                <!-- Content END -->
    
                <!-- Right side content START -->
                <aside class="col-xl-5 order-xl-2">
                    <div data-sticky="" data-margin-top="100" data-sticky-for="1199">
                        <!-- Book now START -->
                        <div class="card card-body border">
                            
                            <!-- Title -->
                            <div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
                                <div>
                                    <span>Цена</span>
                                    <h4 class="card-title mb-0">Договорная</h4>
                                </div>
                                <div>
                                    <h6 class="fw-normal mb-0">+7 (707) 777 28 17</h6>
                                </div>

                                
                            </div>		

                            
    
                            <!-- Rating -->
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item me-1 h6 fw-light mb-0"><i class="bi bi-arrow-right me-2"></i>5</li>
                                <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                            </ul>
    
                            <p class="h6 fw-light mb-4"><i class="bi bi-arrow-right me-2"></i>Лучшее качество</p>
    
                            <a href="#" class="btn btn-lg mb-0" style="background-color: #032655; color: white;">Заявка в 1 клик!</a>
                        </div>

                        
                        <!-- Book now END -->
    
                        
                    </div>	
                </aside>
                <!-- Right side content END -->
            </div> <!-- Row END -->
        </div>
    </section>
    <!-- =======================
    About hotel END -->
    
    </main>
{% endblock %}