{% extends 'base.html' %}
{% load static %}

{% block title %} 404 {% endblock %}



{% block content %}
{% load static %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10 text-center mx-auto">
                <!-- Image -->
                <img src="{% static 'images/tech/fura.webp' %}" class="h-lg-500px mb-4" alt="">
                <!-- Title -->
                <h1 class="display-1 text-primary mb-0">404</h1>
                <!-- Subtitle -->
                <h2>Страница не найдена</h2>
                <!-- info -->
                <p class="mb-4">Возможно вы ошиблись в букве.</p>
                <!-- Button -->
                <a href="/" class="btn btn-light mb-0">На главную</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}