{% extends 'base.html' %}
{% load static %}

{% block title %} Контакты {% endblock %}


{% block content %}
<main>

    <!-- =======================
    Main banner START -->
    <section class="pt-4 pt-md-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-xl-10">
                    <!-- Title -->
                    <h1>Контакты</h1>
                    <p class="lead mb-0">💬 Свяжитесь с нами! Если у вас есть вопросы или предложения, оставьте сообщение через форму обратной связи. Мы ответим в ближайшее время!</p>
                </div>
            </div>
    
            <!-- Contact info -->
            <div class="row g-4">

                <!-- Contact item START -->
                <div class="col-md-6 col-xl-4">
                    <div class="card card-body shadow text-center align-items-center h-100">
                        <!-- Icon -->
                        <div class="icon-lg bg-info bg-opacity-10 text-info rounded-circle mb-2"><i class="bi bi-headset fs-5"></i></div>
                        <!-- Title -->
                        <h5>Горячая линия</h5>
                        <p>Свяжитесь с нашей службой поддержки для оперативного решения вопросов.</p>
                        <!-- Buttons -->
                        <div class="d-grid gap-3 d-sm-block">
                            <button class="btn btn-sm btn-light"><i class="bi bi-telephone me-2"></i>+7 (747) 562 05 16</button>
                        </div>
                    </div>
                </div>
                <!-- Contact item END -->
            
                <!-- Contact item START -->
                <div class="col-md-6 col-xl-4">
                    <div class="card card-body shadow text-center align-items-center h-100">
                        <!-- Icon -->
                        <div class="icon-lg bg-danger bg-opacity-10 text-danger rounded-circle mb-2"><i class="bi bi-inboxes-fill fs-5"></i></div>
                        <!-- Title -->
                        <h5>Корпоративная почта</h5>
                        <p>По вопросам сотрудничества и деловой переписки пишите нам на почту.</p>
                        <!-- Buttons -->
                        <a href="#" class="btn btn-link text-decoration-underline p-0 mb-0"><i class="bi bi-envelope me-1"></i> zakaz@steelfed.kz</a>
                    </div>
                </div>
                <!-- Contact item END -->
            
                <!-- Contact item START -->
                <div class="col-xl-4 position-relative">
                    <!-- Svg decoration -->
                    <figure class="position-absolute top-0 end-0 z-index-1 mt-n4 ms-n7">
                        <svg class="fill-warning" width="77px" height="77px">
                            <path d="M76.997,41.258 L45.173,41.258 L67.676,63.760 L63.763,67.673 L41.261,45.171 L41.261,76.994 L35.728,76.994 L35.728,45.171 L13.226,67.673 L9.313,63.760 L31.816,41.258 L-0.007,41.258 L-0.007,35.725 L31.816,35.725 L9.313,13.223 L13.226,9.311 L35.728,31.813 L35.728,-0.010 L41.261,-0.010 L41.261,31.813 L63.763,9.311 L67.676,13.223 L45.174,35.725 L76.997,35.725 L76.997,41.258 Z"></path>
                        </svg>
                    </figure>
            
                    <div class="card card-body shadow text-center align-items-center h-100">
                        <!-- Icon -->
                        <div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-circle mb-2"><i class="bi bi-globe2 fs-5"></i></div>
                        <!-- Title -->
                        <h5> Социальные сети </h5>
                        <p>Подписывайтесь на нас в социальных сетях, чтобы быть в курсе новостей!</p>
                        <!-- Buttons -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"> <a class="btn btn-sm bg-facebook px-2 mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
                            <li class="list-inline-item"> <a class="btn btn-sm bg-instagram px-2 mb-0" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
                            <li class="list-inline-item"> <a class="btn btn-sm bg-twitter px-2 mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
                            <li class="list-inline-item"> <a class="btn btn-sm bg-linkedin px-2 mb-0" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
                        </ul>
                    </div>
                </div>
                <!-- Contact item END -->
            
            </div>
            
        </div>
    </section>
    <!-- =======================
    Main banner START -->
    
    <!-- =======================
    Contact form and vector START -->
    <section class="pt-0 pt-lg-5">
        <div class="container">
            <div class="row g-4 g-lg-5 align-items-center">
                <!-- Vector image START -->
                <div class="col-lg-6 text-center">
                    <img class="blur-bottom" src="{% static 'images/tech/stroitel.webp' %}" alt="">
                </div>
                <style>
                    .blur-bottom {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: auto;
                        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
                        mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
                    }                    
                </style>                
                <!-- Vector image END -->
    
                <!-- Contact form START -->
                <div class="col-lg-6">
                    <div class="card bg-light p-4">
                        <!-- Svg decoration -->
                        <figure class="position-absolute end-0 bottom-0 mb-n4 me-n2">
                            <svg class="fill-orange" style="fill: gray !important;" width="104.2px" height="95.2px">
                                <circle cx="2.6" cy="92.6" r="2.6"></circle>
                                <circle cx="2.6" cy="77.6" r="2.6"></circle>
                                <circle cx="2.6" cy="62.6" r="2.6"></circle>
                                <circle cx="2.6" cy="47.6" r="2.6"></circle>
                                <circle cx="2.6" cy="32.6" r="2.6"></circle>
                                <circle cx="2.6" cy="17.6" r="2.6"></circle>
                                <circle cx="2.6" cy="2.6" r="2.6"></circle>
                                <circle cx="22.4" cy="92.6" r="2.6"></circle>
                                <circle cx="22.4" cy="77.6" r="2.6"></circle>
                                <circle cx="22.4" cy="62.6" r="2.6"></circle>
                                <circle cx="22.4" cy="47.6" r="2.6"></circle>
                                <circle cx="22.4" cy="32.6" r="2.6"></circle>
                                <circle cx="22.4" cy="17.6" r="2.6"></circle>
                                <circle cx="22.4" cy="2.6" r="2.6"></circle>
                                <circle cx="42.2" cy="92.6" r="2.6"></circle>
                                <circle cx="42.2" cy="77.6" r="2.6"></circle>
                                <circle cx="42.2" cy="62.6" r="2.6"></circle>
                                <circle cx="42.2" cy="47.6" r="2.6"></circle>
                                <circle cx="42.2" cy="32.6" r="2.6"></circle>
                                <circle cx="42.2" cy="17.6" r="2.6"></circle>
                                <circle cx="42.2" cy="2.6" r="2.6"></circle>
                                <circle cx="62" cy="92.6" r="2.6"></circle>
                                <circle cx="62" cy="77.6" r="2.6"></circle>
                                <circle cx="62" cy="62.6" r="2.6"></circle>
                                <circle cx="62" cy="47.6" r="2.6"></circle>
                                <circle cx="62" cy="32.6" r="2.6"></circle>
                                <circle cx="62" cy="17.6" r="2.6"></circle>
                                <circle cx="62" cy="2.6" r="2.6"></circle>
                                <circle cx="81.8" cy="92.6" r="2.6"></circle>
                                <circle cx="81.8" cy="77.6" r="2.6"></circle>
                                <circle cx="81.8" cy="62.6" r="2.6"></circle>
                                <circle cx="81.8" cy="47.6" r="2.6"></circle>
                                <circle cx="81.8" cy="32.6" r="2.6"></circle>
                                <circle cx="81.8" cy="17.6" r="2.6"></circle>
                                <circle cx="81.8" cy="2.6" r="2.6"></circle>
                                <circle cx="101.7" cy="92.6" r="2.6"></circle>
                                <circle cx="101.7" cy="77.6" r="2.6"></circle>
                                <circle cx="101.7" cy="62.6" r="2.6"></circle>
                                <circle cx="101.7" cy="47.6" r="2.6"></circle>
                                <circle cx="101.7" cy="32.6" r="2.6"></circle>
                                <circle cx="101.7" cy="17.6" r="2.6"></circle>
                                <circle cx="101.7" cy="2.6" r="2.6"></circle>
                            </svg>
                        </figure>
    
                        <!-- Card header -->
                        <div class="card-header bg-light p-0 pb-3">
                            <h3 class="mb-0">Оставьте заявку</h3>
                        </div>
    
                        <!-- Card body START -->
                        <div class="card-body p-0">
                            <form class="row g-4">
                                <!-- Name -->
                                <div class="col-md-6">
                                    <label class="form-label">Ваше имя *</label>
                                    <input type="text" class="form-control">
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    <label class="form-label">Email *</label>
                                    <input type="email" class="form-control">
                                </div>
                                <!-- Mobile number -->
                                <div class="col-12">
                                    <label class="form-label">Номер телефона *</label>
                                    <input type="text" class="form-control">
                                </div>
                                <!-- Message -->
                                <div class="col-12">
                                    <label class="form-label">Сообщение *</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <!-- Checkbox -->
                                <div class="col-12 form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">
                                        Я соглашаюсь на политику конфидинциальности.
                                    </label>
                                </div>
                                <!-- Button -->
                                <div class="col-12">
                                    <button class="btn mb-0" style="background-color: gray; color: white;" type="button">Отправить</button>
                                </div>	
                            </form>
                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
                <!-- Contact form END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Contact form and vector END -->
    
    <!-- =======================
    Map START -->
    <section class="pt-0 pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <iframe class="w-100 h-300px grayscale rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1204.4593357332221!2d76.84421869329081!3d43.257745690739426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x388369f5be26863d%3A0x4879dcb3a84c4c56!2zMSwg0L_RgNC-0YHQv9C10LrRgiDQoNGL0YHQutGD0LvQvtCy0LAgMjAyLCDQkNC70LzQsNGC0Ys!5e0!3m2!1sru!2skz!4v1741802857487!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Map END -->
    
    </main>
{% endblock %}