{% extends 'base.html' %}
{% load static %}

{% block title %} {{ category.name }} {% endblock %}



{% block content %}

<section class="pt-0 pb-3">
	<div class="container">
		<!-- Background image -->
		<div class="rounded-3 p-3 p-sm-5 position-relative text-white" 
     style="background-image: url('{% static 'images/banner.jpeg' %}'); 
            background-position: center center; 
            background-repeat: no-repeat; 
            background-size: cover;">

    <!-- Затемняющий слой -->
    <div class="position-absolute top-0 start-0 w-100 h-100" 
         style="background-color: rgba(0, 0, 0, 0.5); border-radius: 25px;"></div>

    <!-- Контент поверх затемнения -->
    <div class="position-relative">
        <div class="row my-2 my-xl-5"> 
            <div class="col-md-8 mx-auto"> 
                <h1 class="text-center text-white">{{ category.name }}</h1>
            </div>
        </div>
    </div>

  </div>

	</div>
</section>

<div class="container">

<a class="link-back link-back-mb d-lg-none" href="{% if category.parent %}{{ category.parent.get_absolute_url }}{% else %}{% url 'main:category' %}{% endif %}">Назад</a>
</div>

<style>
    .link-back {
    display: inline-flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 8px 8px 6px;
    padding-left: 28px;
    color: #262a31;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .01em;
    text-transform: uppercase;
    background-color: #f5f7f8;
    border-radius: 8px;
    position: relative;
    line-height: 13px;
    }
    .link-back:before {
        content: "";
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 8px;
        width: 16px;
        height: 16px;
        background: url('{% static 'images/tech/arrow-left.svg' %}');
    }
</style>

<section class="pt-0">
	<div class="container">
		
		<div class="row">
			<!-- Left sidebar START -->
			<aside class="col-xl-4 col-xxl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasSidebarLabel">Advance Filters</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body flex-column p-3 p-xl-0">
						<form class="rounded-3 shadow">
                            <style>
                                .category-list {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                }
                            
                                .category-list li {
                                    font-size: 18px;
                                    font-weight: bold;
                           
                                    padding: 10px 15px;
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                            
                                .category-list li:hover {
                                    background-color: #f8f9fa;
                                }
                            
                                .category-list li i {
                                    font-size: 14px;
                                    color: #666;
                                }
                            
                                .sub-category {
                                    font-size: 16px;
                                    font-weight: normal;
                                    padding: 5px 10px;
                                    display: none;
                                }
                            
                                .category-list li.active + .sub-category {
                                    display: block;
                                }

                                
                            </style>
							<!-- Hotel type START -->
							<div class="card card-body rounded-0 rounded-top p-2">
                                <ul class="category-list">
                                    {% for category in categories %}
                                        <li style="color: #262a31;" onclick="toggleSub(this)">
                                            {{ category.name }}
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </li>
                                        {% if category.children.exists %}

                                        <ul class="sub-category">
                                            {% for subcategory in category.children.all %}
                                                <a style="color: #262a31;" href="{{ subcategory.get_absolute_url }}"><li style="font-size: 15px; padding-bottom: 5px; padding-top: 5px;"> {{ subcategory.name }}</li></a>
                                            {% endfor %}
                                        </ul>

                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <script>
                                    function toggleSub(element) {
                                        element.classList.toggle("active");
                                    }
                                </script>
							</div>
							
							
						</form><!-- Form End -->
					</div>
				
				</div>
				<!-- Responsive offcanvas body END -->
			</aside>
			<!-- Left sidebar END -->

			<!-- Main content START -->
			<div class="col-xl-8 col-xxl-9">
				<div class="vstack gap-4">

                    <style>
                        .container {
                            
                              margin: auto;
                          }
                          h1 {
                              font-size: 24px;
                              margin-bottom: 5px;
                          }
                          p {
                              color: #666;
                              margin-bottom: 20px;
                          }
                          .grid {
                              display: grid;
                              gap: 10px;
                              grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                          }
                          .grid-item {
                              position: relative;
                              border-radius: 15px;
                              overflow: hidden;
                              cursor: pointer;
                              background-size: cover !important;
                              background-position: center !important;
                              height: 150px;
                  
                              align-items: flex-end;
                              padding: 10px;
                              color: white;
                              font-size: 18px;
                              font-weight: bold;
                          }
                  
                          .big {
                              grid-column: span 2;
                              height: 150px;
                          }
                          .grid-item::before {
                              content: "";
                              position: absolute;
                              top: 0; left: 0; right: 0; bottom: 0;
                              background: #f5f5f5;
                              background: rgba(0, 0, 0, 0);
                          }
                          .grid-item span {
                              position: relative;
                              z-index: 2;
                          }
                          .more {
                              background: #ddd;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              font-size: 20px;
                              color: #444;
                          }
                          @media (min-width: 768px) {
                              .grid {
                                  grid-template-columns: repeat(3, 1fr);
                              }
                              .big {
                                  grid-column: span 3;
                              }
                          }
                      </style>

                    <div class="grid">
                        {% if category.children.exists %}
                            {% for subcategory in category.children.all %}
                          <a href="{{ subcategory.get_absolute_url }}">
                            <div class="grid-item {% if forloop.first %}big{% endif %}" style="background-image: url('{% if subcategory.image %}{{ subcategory.image.url }}{% else %}{% static 'images/tech/chernyi.jpg' %}{% endif %}');">
                                <span>{{ subcategory.name }}</span>
                            </div>
                          </a>
                          {% endfor %}
                          {% else %}
                          {% if category.products.exists %}
                            {% for product in category.products.all %}
                            <a href="{{ subcategory.get_absolute_url }}">
                                <div class="grid-item {% if forloop.first %}big{% endif %}" style="background-image: url('{% static 'images/tech/chernyi.jpg' %}');">
                                    <span>{{ product.name }}</span>
                                </div>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p>Нет продуктов в этой категории.</p>
                            {% endif %}
                            {% endif %}
                    </div>

				</div>
			</div>
			<!-- Main content END -->
		</div> <!-- Row END -->
	</div>
</section>

{% endblock %}